/* General styles that apply to all screen sizes */

/* Remove padding-left from .left-about paragraph */
.about-container .left-about p {
    padding-left: 0;
  }
  
  /* Media queries for responsive design */
  
  /* Mobile devices with screen width up to 600px */
  @media screen and (max-width: 600px) {
    /* Header */
    header {
      padding: 0 !important;
    }
  
    /* Theme button */
    .theme-btn {
      width: 50px;
      height: 50px;
    }
  
    /* Header content */
    .header-content {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
    }
  
    /* Hide .h-shape in .left-header */
    .left-header .h-shape {
      display: none;
    }
  
    /* Adjust .name in .right-header */
    .right-header {
      grid-row: 1;
      padding-right: 0rem !important;
      width: 90%;
      margin: 0 auto;
    }
  
    .right-header .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  
    /* Center the image in .left-header */
    .left-header .image {
      margin: 0 auto;
      width: 90%;
    }
  
    /* Controls */
    .controls {
      top: auto;
      bottom: 0;
      flex-direction: row;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-color: var(--color-grey-5);
    }
  
    .controls .control {
      margin: 1rem 0.3rem;
    }
  
    /* About section */
    .about-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .about-container .right-about {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
    }
  
    .about-container .left-about {
      padding-right: 0;
    }
  
    /* Timeline section */
    .timeline {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
    }
  
    /* Container padding for mobile */
    .container {
      padding: 2rem 2.5rem !important;
    }
  
    /* About stats */
    .about-stats .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /* Portfolios section */
    .portfolios {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
      margin-top: 1rem;
    }
  
    /* Blogs section */
    .blogs {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
    }
  
    /* Contact section */
    .contact-content-con {
      flex-direction: column;
    }
  
    .contact-content-con .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  
    .contact-content-con .right-contact .i-c-2 {
      flex-direction: column;
    }
  
    .contact-content-con .right-contact .i-c-2 :last-child {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  
    .contact-content-con .right-contact {
      margin-bottom: 6rem;
    }
  
    .contact-item {
      flex-direction: column;
      margin: 1rem 0;
    }
  
    .contact-item p {
      font-size: 15px;
      color: var(--color-grey-2);
    }
  
    .contact-item span {
      font-size: 15px;
    }
  
    .contact-item .icon {
      grid-template-columns: 25px 1fr;
    }
  
    /* Main title for mobile */
    .main-title h2 {
      font-size: 2rem;
    }
  
    .main-title h2 span {
      font-size: 2.3rem;
    }
  
    .main-title .bg-text {
      font-size: 2.3rem;
    }
  }
  
  /* Tablets with screen width up to 1432px */
  @media screen and (max-width: 1432px) {
    /* Container padding for tablets */
    .container {
      padding: 7rem 11rem;
    }
  
    /* Contact section for tablets */
    .contact-content-con .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  
    .contact-content-con .right-contact .i-c-2 {
      flex-direction: column;
    }
  
    .contact-content-con .right-contact .i-c-2 :last-child {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  
    .contact-content-con .right-contact {
      margin-bottom: 6rem;
    }
  
    /* Main title for tablets */
    .main-title h2 .bg-text {
      font-size: 5.5rem;
    }
  }
  
  /* Tablets with screen width up to 1250px */
  @media screen and (max-width: 1250px) {
    /* Blogs and portfolios sections */
    .blogs {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 6rem;
    }
  
    .portfolios {
      grid-template-columns: repeat(2, 1fr);
    }
  
    /* Adjust .right-header padding */
    .header-content .right-header {
      padding-right: 9rem;
    }
  }
  
  /* Tablets with screen width up to 660px */
  @media screen and (max-width: 660px) {
    /* Adjust blogs and portfolios sections */
    .blogs {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .portfolios {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  /* Tablets with screen width up to 1070px */
  @media screen and (max-width: 1070px) {
    /* About section for tablets */
    .about-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .about-container .right-about {
      padding-top: 2.5rem;
    }
  
    /* Main title for tablets */
    .main-title h2 {
      font-size: 4rem;
    }
  
    .main-title h2 span {
      font-size: 4rem;
    }
  
    .main-title .bg-text {
      font-size: 4.5rem;
    }
  }
  
  /* Tablets with screen width up to 970px */
  @media screen and (max-width: 970px) {
    /* Container padding for tablets */
    .container {
      padding: 7rem 6rem;
    }
  
    /* Adjust .left-about padding */
    .about-container .left-about {
      padding-right: 0rem;
    }
  
    /* Header content for tablets */
    .header-content {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
    }
  
    /* Hide .h-shape in .left-header */
    .left-header .h-shape {
      display: none;
    }
  
    /* Adjust .image in .left-header */
    .left-header .image {
      width: 90% !important;
      margin: 0 auto !important;
    }
  
    /* Adjust .name in .right-header */
    .right-header {
      grid-row: 1;
      padding-right: 0rem !important;
      width: 90%;
      margin: 0 auto;
    }
  
    .right-header .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  }
  
  /* Tablets with screen width up to 700px */
  @media screen and (max-width: 700px) {
    /* Container padding for tablets */
    .container {
      padding: 7rem 3rem;
    }
  
    /* About stats for tablets */
    .about-stats .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /* About section for tablets */
    .about-container .right-about {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /* Timeline section for tablets */
    .timeline {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /* Main title for tablets */
    .main-title h2 {
      font-size: 3rem;
    }
  
    .main-title h2 span {
      font-size: 3rem;
    }
  
    .main-title .bg-text {
      font-size: 4rem;
    }
  }
  